html, body {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.yathScreen {
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    padding: 5%;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    pointer-events: none;
    transform: translateX(-100vw);
    transition: transform 200ms;
    animation: none;
}

.yathScreen--visible {
    pointer-events: auto;
    transform: translateX(0);
    animation: slideIn 200ms 1 ease-in;
}

.yathClickable:not(button):not(input) {
    cursor: pointer;
    color: #1245ed;
}

.yathClickable:not(button):not(input):hover {
    text-decoration: underline;
}

@keyframes slideIn {
    from { transform: translateX(100vw); }
    to { transform: translateX(0); }
}